In [2]:
!unzip 2021-ml-diabetes.zip

Archive:  2021-ml-diabetes.zip
  inflating: X_test.csv
  inflating: data.csv
  inflating: submit.csv

In [25]:
import pandas as pd
import numpy as np

X = pd.read_csv('data.csv')

X.head()

y = X.iloc[:, -1]
X = X.drop('Diabetes', axis=1)
X.head()
print(X.shape)
#print(np.unique(y))

(537, 8)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify = y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(375, 8)
(162, 8)
(375,)
(162,)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

from sklearn.preprocessing import MinMaxScaler
msc = MinMaxScaler()
X_train_m = msc.fit_transform(X_train)
X_test_m = msc.transform(X_test)

from sklearn.preprocessing import RobustScaler
rob = RobustScaler()
X_train_rob = rob.fit_transform(X_train)
X_test_rob = rob.transform(X_test)

In [49]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score

clf = LinearDiscriminantAnalysis(solver='lsqr',store_covariance = True)

clf.fit(X_train, y_train)
#y_train_pred = clf.predict(X_train)
#print(accuracy_score(y_train_pred, y_train))
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

clf.fit(X_train_std, y_train)
print(clf.score(X_train_std, y_train))
print(clf.score(X_test_std, y_test))

clf.fit(X_train_m, y_train)
print(clf.score(X_train_m, y_train))
print(clf.score(X_test_m, y_test))

clf.fit(X_train_rob, y_train)
print(clf.score(X_train_rob, y_train))
print(clf.score(X_test_rob, y_test))

0.768
0.7962962962962963
0.768
0.7962962962962963
0.768
0.7962962962962963
0.768
0.7962962962962963

In [43]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
clf = QuadraticDiscriminantAnalysis(store_covariance = True)

clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

clf.fit(X_train_std, y_train)
print(clf.score(X_train_std, y_train))
print(clf.score(X_test_std, y_test))

#clf.fit(X_train_m, y_train)
#print(clf.score(X_train_m, y_train))
#print(clf.score(X_test_m, y_test))

#clf.fit(X_train_rob, y_train)
#print(clf.score(X_train_rob, y_train))
#print(clf.score(X_test_rob, y_test))

0.7706666666666667
0.7716049382716049
0.7706666666666667
0.7716049382716049

In [50]:
test = pd.read_csv('X_test.csv')
test.head()
print(test.shape)
X_std = scaler.fit_transform(X)
test_std = scaler.transform(test)

(231, 8)

In [55]:
clf = QuadraticDiscriminantAnalysis(store_covariance = True)
clf.fit(X, y)
test_pred = clf.predict(test)

In [56]:
sample = pd.read_csv('submit.csv')
sample.head()

   ID  Diabetes
0   0         0
1   1         0
2   2         0
3   3         0
4   4         0

In [57]:
sample['Diabetes'] = test_pred
sample.head()

   ID  Diabetes
0   0         0
1   1         0
2   2         0
3   3         0
4   4         1

In [58]:
sample.to_csv('sample_submission.csv', mode='w', index=False)