In [1]:
! pip install kaggle
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"jogukhee","key":"4ee24c016d928635487940a06fd70feb"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        107           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        212           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        575           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       3521           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      28503            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       7289            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        624           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1901           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10823            True
jane-street-market-prediction                  2021-08-23 23:59:00  Featured          $100,000       4245           False
hungry-geese                                   2021-07-26 23:59:00  Playground          Prizes        440           False
coleridgeinitiative-show-us-the-data           2021-06-22 23:59:00  Featured           $90,000        291           False
bms-molecular-translation                      2021-06-02 23:59:00  Featured           $50,000        390           False
birdclef-2021                                  2021-05-31 23:59:00  Research            $5,000         47           False
iwildcam2021-fgvc8                             2021-05-26 23:59:00  Research         Knowledge         14           False
herbarium-2021-fgvc8                           2021-05-26 23:59:00  Research         Knowledge         34           False
plant-pathology-2021-fgvc8                     2021-05-26 23:59:00  Research         Knowledge        159           False
hotel-id-2021-fgvc8                            2021-05-26 23:59:00  Research         Knowledge         34           False
hashcode-2021-oqr-extension                    2021-05-25 23:59:00  Playground       Knowledge        104           False
indoor-location-navigation                     2021-05-17 23:59:00  Research           $10,000        811           False

In [3]:
!kaggle competitions download -c 2021-ml-p6

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test_data.csv to /content
  0% 0.00/676k [00:00<?, ?B/s]
100% 676k/676k [00:00<00:00, 43.6MB/s]
Downloading sample_submit.csv to /content
  0% 0.00/137k [00:00<?, ?B/s]
100% 137k/137k [00:00<00:00, 44.4MB/s]
Downloading train_data.csv.zip to /content
  0% 0.00/469k [00:00<?, ?B/s]
100% 469k/469k [00:00<00:00, 63.5MB/s]

In [4]:
!unzip train_data.csv.zip

Archive:  train_data.csv.zip
  inflating: train_data.csv

In [5]:
import numpy as np
import pandas as pd

xy = pd.read_csv('train_data.csv')
xy

          ID  company      model  year  ...  tax   mpg  engineSize  price
0          0        4      Auris  2015  ...  145  46.3         1.6   8095
1          1        0         X2  2018  ...  145  50.4         2.0  21726
2          2        2      Focus  2017  ...  145  51.4         1.0  10490
3          3        2      Focus  2020  ...  145  49.6         1.0  17490
4          4        0   3 Series  2017  ...  145  64.2         2.0  18995
...      ...      ...        ...   ...  ...  ...   ...         ...    ...
34165  34165        0   1 Series  2017  ...  150  36.2         3.0  18480
34166  34166        2     Fiesta  2019  ...  145  58.9         1.0  16495
34167  34167        2     Fiesta  2019  ...  145  60.1         1.0  13000
34168  34168        4      Hilux  2018  ...  260  40.4         2.4  20998
34169  34169        2     Fiesta  2013  ...   30  54.3         1.2   6800

[34170 rows x 11 columns]

In [14]:
X = xy.loc[:, 'company':'engineSize']
print(X[:5])
print(X.shape)

y = xy.loc[:, 'price']
print(y[:5])
print(y.shape)

   company      model  year  transmission  ...  fueltype  tax   mpg  engineSize
0        4      Auris  2015             1  ...         4  145  46.3         1.6
1        0         X2  2018             3  ...         0  145  50.4         2.0
2        2      Focus  2017             3  ...         4  145  51.4         1.0
3        2      Focus  2020             1  ...         4  145  49.6         1.0
4        0   3 Series  2017             3  ...         0  145  64.2         2.0

[5 rows x 9 columns]
(34170, 9)
0     8095
1    21726
2    10490
3    17490
4    18995
Name: price, dtype: int64
(34170,)

In [15]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
classle = LabelEncoder()
X['model'] = classle.fit_transform(X['model'].values)
print(np.unique(X['model']))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(23919, 9)
(10251, 9)
(23919,)
(10251,)

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

X_train_std[1:5,]

array([[ 0.0341576 , -0.30099733,  0.93204055, -0.18851274, -0.77026034,
         0.89488332,  0.40817095,  0.13497948, -1.12172041],
       [ 0.0341576 ,  0.46500592,  0.93204055, -0.18851274, -0.78063597,
         0.89488332,  0.40817095, -1.14303107, -0.2875861 ],
       [-1.51175678, -1.21290597,  0.93204055,  1.82895314, -1.04850325,
        -1.18334515,  0.40817095, -0.27116794,  0.5465482 ],
       [ 0.0341576 , -0.30099733,  0.93204055, -0.18851274, -1.1041333 ,
         0.89488332,  0.48474022,  0.13497948, -1.12172041]])

In [20]:
from sklearn.neighbors import KNeighborsRegressor
regressor = KNeighborsRegressor(n_neighbors=5, weights="distance", p=1)
regressor.fit(X_train_std, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=1,
                    weights='distance')

In [21]:
y_train_pred = regressor.predict(X_train_std)
y_test_pred = regressor.predict(X_test_std)
print('Misclassified training samples: %d' %(y_train!=y_train_pred).sum()) 
print('Misclassified test samples: %d' %(y_test!=y_test_pred).sum())

Misclassified training samples: 412
Misclassified test samples: 10175

In [28]:
from sklearn.metrics import mean_squared_error
mse_train = mean_squared_error(y_train, y_train_pred)
mse_test = mean_squared_error(y_test, y_test_pred)

rmse_train=np.sqrt(mse_train)
print(rmse_train)

rmse_test=np.sqrt(mse_test)
print(rmse_test)

196.18284067402345
2457.601878394769

In [27]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_train, y_train_pred))
print(mean_absolute_error(y_test, y_test_pred))

14.722513483005143
1315.8137887954392

In [29]:
test = pd.read_csv('test_data.csv')
test = test.loc[:, 'company':'engineSize']

test['model']=classle.fit_transform(test['model'].values) 
print(np.unique(test['model']))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97]

In [30]:
# 전체데이터 및 테스트데이터 표준화
sc.fit(X)
X_std = sc.transform(X)
test = sc.transform(test)

In [33]:
# KNN 의 적용
from sklearn.neighbors import KNeighborsRegressor  
regressor=KNeighborsRegressor(n_neighbors=5,weights = "distance", p = 1) 
regressor.fit(X_std,y) 

test_pred = regressor.predict(test)

In [34]:
sample = pd.read_csv('sample_submit.csv')
for i in range(len(test_pred)):
  sample['price'][i] = test_pred[i]
sample.head(10)

   ID  price
0   0   8323
1   1   9233
2   2  19955
3   3  12141
4   4   9841
5   5  20931
6   6  34722
7   7  19826
8   8  21584
9   9  14482

In [35]:
sample.to_csv('sample_submit.csv', mode='w', index=False)